{% extends 'base.html.twig' %}

{% block body %}
    <style>
        /* Sets the background image for the wheel */
        td.the_wheel
        {
            background-image: url(/images/wheel_back.png);
            background-position: 0px -3px;
            background-repeat: no-repeat;
        }

        /* Do some css reset on selected elements */
        h1, p
        {
            margin: 0;
        }

        div.power_controls
        {
            margin-right:70px;
        }

        div.html5_logo
        {
            margin-left:70px;
        }

        /* Styles for the power selection controls */
        table.power
        {
            background-color: #cccccc;
            cursor: pointer;
            border:1px solid #333333;
        }

        table.power th
        {
            background-color: white;
            cursor: default;
        }

        td.pw1
        {
            background-color: #6fe8f0;
        }

        td.pw2
        {
            background-color: #86ef6f;
        }

        td.pw3
        {
            background-color: #ef6f6f;
        }

        /* Style applied to the spin button once a power has been selected */
        .clickable
        {
            cursor: pointer;
        }

        /* Other misc styles */
        .margin_bottom
        {
            margin-bottom: 5px;
        }
    </style>
<div class="row">
    <div class="col">
        <section class="card">
            <div class="card-body" id="LoadingOverlay" data-loading-overlay data-loading-overlay-options='{ "startShowing": true }'>
                <div style="width:384px;height:405px;position:relative;" class="m-auto">
                    <canvas id="canvas" width="384" height="384" style="position:absolute;top:21px;">
                        <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                    </canvas>
                    <img src="{{ asset('images/wheel.png') }}" style="position:absolute;top:0;left:0;width:100%;height:100%;"/>
                </div>
                <div class="row mt-2 text-center">
                    <a href="#" class="btn btn-default m-auto" title="Вращать колесо!" id="spin-button">Вращать колесо!</a>
                </div>
                <div class="row mt-2">
                    <div class="col text-center" id="countdown"></div>
                </div>
                {{ last_spin }}
                <a class="mb-1 mt-1 mr-1 modal-with-zoom-anim ws-normal btn btn-default" href="#modalAnim">Open with fade-zoom animation</a>
                <!-- Modal Animation -->
                <div id="modalAnim" class="zoom-anim-dialog modal-block modal-block-warning mfp-hide">
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">Поздравляем!</h2>
                        </header>
                        <div class="card-body">
                            <div class="modal-wrapper" id="ModalContent">

                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-success modal-confirm">Забрать приз</button>
                                    <button class="btn btn-danger modal-dismiss">Отказаться</button>
                                </div>
                            </div>
                        </footer>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Колесо фортуны</h2>

        <div class="right-wrapper text-right pr-5">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}" title="Главная страница">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><a href="{{ path('games') }}">Игры</a></li>
            </ol>
        </div>
    </header>
{% endblock %}

{% block title %}Колесо фортуны{% endblock %}

{% block javascripts %}
    <script src="/vendor/winwheel-2.7.0/Winwheel.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script>
        (function($) {

            'use strict';

            var theWheel;
            var wheelSpinning = false;

            var countdownInit = function(date) {
                var countDownDate = (typeof date != 'undefined' && date) ? date : new Date("Mon, 24 Sep 2018 14:42:03 +0200").getTime();
                var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    document.getElementById("countdown").innerHTML = hours + ":" + minutes + ":" + seconds;
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("countdown").innerHTML = "EXPIRED";
                    }
                }, 1000);
            };

            var wheelInit = function(segments){
                $.ajax({
                    type: 'GET',
                    //timeout: 1000,
                    url: '{{ path('ajax_winwheel_get_segments') }}',
                    dataType: 'json',
                    contentType: 'application/json; charset=UTF-8',
                    success: function(data){
                        $('#LoadingOverlay').trigger('loading-overlay:hide');
                        theWheel = new Winwheel({
                            'numSegments'  : 12,     // Specify number of segments.
                            'outerRadius'  : 160,   // Set outer radius so wheel fits inside the background.
                            'textFontSize' : 14,    // Set font size as desired.
                            'textFontWeight': 'bold',
                            'textOrientation': 'horizontal',
                            'textMargin': 25,
                            'segments'     : data.segments,
                            'animation' :           // Specify the animation to use.
                                {
                                    'type'     : 'spinToStop',
                                    'duration' : 5,     // Duration in seconds.
                                    'spins'    : 15,    // Number of complete spins.
                                    'callbackFinished' : alertPrize
                                }
                        });
                    }
                });
            };

            var alertPrize = function(indicatedSegment) {
                // Do basic alert of the segment text. You would probably want to do something more interesting with this information.
                //alert("You have won " + indicatedSegment.id);

                var contents = '',
                    string = '';

                if(indicatedSegment.bonus > 0 || indicatedSegment.money > 0)
                {
                    string = 'Поздравляем! Вы выиграли ';
                    if(indicatedSegment.bonus > 0)
                    {
                        string = string + '<b>' + indicatedSegment.bonus + '</b> баллов на бонусный счёт!';
                    }
                    else
                    {
                        string = string + '<b>$' + indicatedSegment.money + '</b> на свой денежный счёт!';
                    }
                    contents = '<div class="modal-icon"><i class="fas fa-trophy"></i></div>' +
                        '<div class="modal-text"><p class="mb-0" id="modal-text">'+string+'</p></div>';
                }
                else if(indicatedSegment.cost > 0)
                {
                    string = '<h4 class="mt-0">Вы выиграли <b>СУПЕРПРИЗ - '+indicatedSegment.text+'!</b>!</h4>';
                    contents = '<div class="row">\n' +
                                '<div class="col-md-4"><img src="'+indicatedSegment.image+'" class="img-fluid mt-5" alt="'+indicatedSegment.text+'"/></div>\n' +
                                '<div class="col-md-8">'+string+indicatedSegment.description+'</div></div>';
                    $('#ModalContent').removeClass('modal-wrapper');
                }

                $('#ModalContent').html(contents);
                $.magnificPopup.open({
                    items: {
                        src: '#modalAnim'
                    },
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,

                    overflowY: 'auto',

                    closeBtnInside: true,
                    preloader: false,

                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in',
                    modal: true
                });


                resetWheel();
            }

            var resetWheel  = function(){
                theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
                theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
                theWheel.draw();                // Call draw to render changes to the wheel.
                wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
            }

            $(function() {

                countdownInit();
                wheelInit();

                $('#spin-button').on('click', function(e){
                    e.preventDefault();
                    if (wheelSpinning == false)
                    {
                        // TODO: Get segment from server
                        var segmentNumber = 9;
                        if (segmentNumber)
                        {
                            var stopAt = theWheel.getRandomForSegment(segmentNumber);
                            theWheel.animation.stopAngle = stopAt;
                            theWheel.startAnimation();
                        }
                        theWheel.startAnimation();
                        wheelSpinning = true;
                    }
                });

                /*
                Modal with CSS animation
                */
                $('.modal-with-zoom-anim').magnificPopup({
                    type: 'inline',

                    fixedContentPos: false,
                    fixedBgPos: true,

                    overflowY: 'auto',

                    closeBtnInside: true,
                    preloader: false,

                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in',
                    modal: true
                });

                /*
                Modal Dismiss
                */
                $(document).on('click', '.modal-dismiss', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                /*
                Modal Confirm
                */
                $(document).on('click', '.modal-confirm', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();

                    new PNotify({
                        title: 'Success!',
                        text: 'Modal Confirm Message.',
                        type: 'success'
                    });
                });

            });

        }).apply(this, [jQuery]);
    </script>
{% endblock %}