<!-- start: header -->
<header class="header">
    <div class="logo-container">
        <a href="{{ path('homepage') }}" class="logo">
            <img src="{{ asset('images/logo_header.png') }}" height="35" alt="Quizzle Demo App" />
        </a>
        <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">

        <span class="separator"></span>

        <ul class="notifications">
            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                    <i class="fas fa-envelope"></i>
                    <span class="badge">4</span>
                </a>

                <div class="dropdown-menu notification-menu">
                    <div class="notification-title">
                        <span class="float-right badge badge-default">230</span>
                        Сообщения
                    </div>

                    <div class="content">
                        <ul>
                            <li>
                                <a href="#" class="clearfix">
                                    <figure class="image">
                                        <img src="https://www.gravatar.com/avatar/{{ 'john.doe@gmail.com' | md5 }}?d=identicon&s=35" alt="Joseph Doe" class="rounded-circle" />
                                    </figure>
                                    <span class="title">Joseph Doe</span>
                                    <span class="message truncate">Lorem ipsum dolor sit.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <figure class="image">
                                        <img src="https://www.gravatar.com/avatar/{{ 'jmikle@mail.ru' | md5 }}?d=identicon&s=35" alt="Site Administrator" class="rounded-circle" />
                                    </figure>
                                    <span class="title">Site Administrator</span>
                                    <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <figure class="image">
                                        <img src="https://www.gravatar.com/avatar/{{ 'm.martynenko@casexe.com' | md5 }}?d=identicon&s=35" alt="Marina Martynenko" class="rounded-circle" />
                                    </figure>
                                    <span class="title">Marina Martynenko</span>
                                    <span class="message truncate">Lorem ipsum dolor sit.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <figure class="image">
                                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg?d=identicon&s=35" alt="Joseph Junior" class="rounded-circle" />
                                    </figure>
                                    <span class="title">Joseph Junior</span>
                                    <span class="message truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                </a>
                            </li>
                        </ul>

                        <hr />

                        <div class="text-right">
                            <a href="#" class="view-more">Показать все</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                    <i class="fas fa-bell"></i>
                    <span class="badge">3</span>
                </a>

                <div class="dropdown-menu notification-menu">
                    <div class="notification-title">
                        <span class="float-right badge badge-default">3</span>
                        Уведомления
                    </div>

                    <div class="content">
                        <ul>
                            <li>
                                <a href="#" class="clearfix">
                                    <div class="image">
                                        <i class="fas fa-signal bg-primary text-light"></i>
                                    </div>
                                    <span class="title">Достигнут новый уровень</span>
                                    <span class="message">Только что</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <div class="image">
                                        <i class="fas fa-trophy bg-warning text-light"></i>
                                    </div>
                                    <span class="title">Вы выиграли в розыгрыше!</span>
                                    <span class="message">23.09.2018</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <div class="image">
                                        <i class="far fa-star bg-success text-light"></i>
                                    </div>
                                    <span class="title">Прошёл новый розыгрыш</span>
                                    <span class="message">23.09.2018</span>
                                </a>
                            </li>
                        </ul>

                        <hr />

                        <div class="text-right">
                            <a href="#" class="view-more">Показать все</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="https://www.gravatar.com/avatar/{{ user.email | md5 }}?d=identicon&s=35" alt="{{ user.firstname }} {{ user.lastname }}" class="rounded-circle" data-lock-picture="https://www.gravatar.com/avatar/{{ user.email | md5 }}?d=identicon&s=120" />
                </figure>
                <div class="profile-info" data-lock-name="{{ user.firstname }} {{ user.lastname }}" data-lock-email="{{ user.email }}">
                    <span class="name">{{ user.firstname }} {{ user.lastname }}</span>
                    <span class="role">{{ role }}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('personal') }}"><i class="fas fa-user"></i> Личный раздел</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') != false %}
                        <li>
                            <a role="menuitem" tabindex="-1" href="{{ path('dashboard') }}"><i class="fas fa-cog"></i> Админпанель</a>
                        </li>
                    {% endif %}
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-power-off"></i> Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->