{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-danger mb-3">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-danger">
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Бонусные баллы</h4>
                                        <div class="info">
                                            <strong class="amount" id="BonusAmount">{{ bonuses|number(2) }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase modal-with-zoom-anim" href="#ConvertDialog">(конвертировать)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div id="ConvertDialog" class="zoom-anim-dialog modal-block mfp-hide">
                        <section class="card">
                            <header class="card-header">
                                <h2 class="card-title">Обменять деньги на баллы</h2>
                            </header>
                            <div class="card-body">
                                <div class="modal-wrapper" id="ConvertDialogContent">
                                    <form name="ConvertForm" action="" class="form-horizontal" autocomplete="off">
                                        <div class="form-group row">
                                            <label for="convertAmount" class="col-lg-3 control-label text-lg-right pt-2">Сумма</label>
                                            <div class="input-group col-md-6">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-money-bill-alt"></i>
                                                    </span>
                                                </span>
                                                <input class="form-control" id="convertAmount" placeholder="max: {{ balance | number(2) }}" type="text" data-max="{{ balance }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="convertReceive" class="col-lg-3 control-label text-lg-right pt-2">Получите</label>
                                            <div class="input-group col-md-6">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-star"></i>
                                                    </span>
                                                </span>
                                                <input class="form-control" id="convertReceive" placeholder="0.00" type="text" readonly="readonly" value="0.00">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success modal-confirm mr-2" id="ConfirmConvert">Обменять</button>
                                        <button class="btn btn-danger modal-dismiss" id="DismissConvert">Отмена</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>
                </div>
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-success">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-success">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Ваш баланс</h4>
                                        <div class="info">
                                            <strong class="amount" id="BalanceAmount">{{ balance|money(2) }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase modal-with-zoom-anim" href="#WithdrawalDialog">(снять со счёта)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div id="WithdrawalDialog" class="zoom-anim-dialog modal-block mfp-hide">
                        <section class="card">
                            <header class="card-header">
                                <h2 class="card-title">Снять со счёта</h2>
                            </header>
                            <div class="card-body">
                                <div class="modal-wrapper" id="ConvertDialogContent">
                                    <form name="ConvertForm" action="" class="form-horizontal" autocomplete="off">
                                        <div class="form-group row">
                                            <label for="withdrawalAmount" class="col-lg-3 control-label text-lg-right pt-2">Сумма</label>
                                            <div class="input-group col-md-6">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-money-bill-alt"></i>
                                                    </span>
                                                </span>
                                                <input class="form-control" id="withdrawalAmount" placeholder="max: {{ balance | number(2) }}" type="text" data-max="{{ balance }}">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success modal-confirm mr-2" id="ConfirmWithdrawal">Вывести</button>
                                        <button class="btn btn-danger modal-dismiss" id="DismissWithdrawal">Отмена</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-primary mb-3">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fas fa-dice"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Проведено розыгрышей</h4>
                                        <div class="info">
                                            <strong class="amount">{{ spins }}</strong>
                                            {% if new_spins > 0 %}<span class="text-primary">({{ new_spins }} новых)</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="#">(результаты розыгрышей)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-warning">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-warning">
                                        <i class="fas fa-trophy"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Победителей сегодня</h4>
                                        <div class="info">
                                            <strong class="amount">{{ winners }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="#">(подробнее)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-info mb-3">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-info">
                                        <i class="far fa-money-bill-alt"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Выплачено сегодня</h4>
                                        <div class="info">
                                            <strong class="amount">{{ payouts | money(2) }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="#">(мои выплаты)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-quaternary">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-quaternary">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Всего участников</h4>
                                        <div class="info">
                                            <strong class="amount">{{ members_count }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="#">(топ участников)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-lg-12">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">Новости сервиса</h2>
                </header>
                <div class="card-body">
                    <div class="timeline timeline-simple mt-3 mb-3">
                        <div class="tm-body">
                            <div class="tm-title">
                                <h5 class="m-0 pt-2 pb-2 text-uppercase">Сентябрь 2018</h5>
                            </div>
                            <ol class="tm-items">
                                <li>
                                    <div class="tm-box">
                                        <p class="text-muted mb-0">24 сентября 2018</p>
                                        <h4>Проблемы с выводом средств</h4>
                                        <p>
                                            <strong>Уважаемые пользователи!</strong> В настоящее время выплаты по банковским картам приостановлены из-за проблем на стороне процессинга. Мы гарантируем, что вы получите оплату. Как только проблема будет решена, вам придет уведомление на E-mail. Благодарим вас за проявленное терпение. <span class="text-primary">#withdrawal</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tm-box">
                                        <p class="text-muted mb-0">23 сентября 2018</p>
                                        <h4>Ура! Мы открылись!</h4>
                                        <p>
                                            Checkout! How cool is that! Etiam efficitur, sapien eget vehicula gravida, magna neque volutpat risus, vitae tempus odio arcu ac elit. Aenean porta orci eu mi fermentum varius. Curabitur ac sem at nibh egestas. Curabitur ac sem at nibh egestas.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        (function($) {

            'use strict';

            $(function() {
                // On document loaded

                //region Modals
                $('.modal-with-zoom-anim').magnificPopup({
                    type: 'inline',

                    fixedContentPos: false,
                    fixedBgPos: true,

                    overflowY: 'auto',

                    closeBtnInside: true,
                    preloader: false,

                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in',
                    modal: true
                });
                $(document).on('click', '.modal-dismiss', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });
                //endregion

                //region Convert
                $(document).on('change blur keyup', '#convertAmount', function(){
                    var convertRate = {{ convert_rate }};
                    var $this = $(this);
                    var $calc = $('#convertReceive');
                    var amount = parseFloat($this.val());
                    if(!isNaN(amount) && amount) {
                        $calc.val(amount/convertRate);
                        if(amount > $this.data('max'))
                        {
                            $this.addClass('error');
                            $('#ConfirmConvert').attr('disabled', 'disabled');
                        }
                        else
                        {
                            $this.removeClass('error');
                            $('#ConfirmConvert').removeAttr('disabled');
                        }
                    }
                    else
                    {
                        $this.addClass('error');
                        $calc.val('0.00');
                    }
                });
                $(document).on('click', '#ConfirmConvert', function(e){
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('ajax_balance_convert') }}',
                        data: {amount: $('#convertAmount').val()},
                        success: function(data){
                            if(typeof data !== 'undefined' && data)
                            {
                                if(data.success)
                                {
                                    $('#BonusAmount').html(data.data.bonus_balance.toFixed(2));
                                    $('#BalanceAmount').html('$' + data.data.balance.toFixed(2));
                                    $('#convertAmount').data('max', data.data.balance).attr('placeholder', 'max: ' + data.data.balance.toFixed(2));
                                    $('#withdrawalAmount').data('max', data.data.balance).attr('placeholder', 'max: ' + data.data.balance.toFixed(2));
                                    new PNotify({
                                        text: 'Баланс успешно обновлён',
                                        type: 'success'
                                    });
                                }
                                else
                                {
                                    // Handle error
                                    new PNotify({
                                        title: 'Error!',
                                        text: data.error + ': ' + data.message,
                                        type: 'error'
                                    });
                                }
                            } else {
                                // Handle error
                                new PNotify({
                                    title: 'Error!',
                                    text: 'Something went wrong!',
                                    type: 'error'
                                });
                            }
                        },
                        error: function(){
                            new PNotify({
                                title: 'Error!',
                                text: 'Something went wrong!',
                                type: 'error'
                            });
                        },
                        complete: function(){
                            // Finally callback
                            $('#convertAmount').val('').removeClass('error');
                            $('#convertReceive').val('0.00');
                            $('#ConfirmConvert').removeAttr('disabled');
                            $.magnificPopup.close();
                        }
                    });
                });
                $(document).on('click', '#DismissConvert', function(){
                    $('#convertAmount').val('').removeClass('error');
                    $('#convertReceive').val('0.00');
                    $('#ConfirmConvert').removeAttr('disabled');
                });
                //endregion

                //region Withdrawal
                $(document).on('click', '#ConfirmWithdrawal', function(e){
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('ajax_balance_withdrawal') }}',
                        data: {amount: $('#withdrawalAmount').val()},
                        success: function(data){
                            if(typeof data !== 'undefined' && data)
                            {
                                if(data.success)
                                {
                                    $('#BalanceAmount').html('$' + data.data.balance.toFixed(2));
                                    $('#convertAmount').data('max', data.data.balance).attr('placeholder', 'max: ' + data.data.balance.toFixed(2));
                                    $('#withdrawalAmount').data('max', data.data.balance).attr('placeholder', 'max: ' + data.data.balance.toFixed(2));
                                    new PNotify({
                                        text: 'Заявка на вывод средств успешно создана',
                                        type: 'success'
                                    });
                                }
                                else
                                {
                                    // Handle error
                                    new PNotify({
                                        title: 'Error!',
                                        text: data.error + ': ' + data.message,
                                        type: 'error'
                                    });
                                }
                            } else {
                                // Handle error
                                new PNotify({
                                    title: 'Error!',
                                    text: 'Something went wrong!',
                                    type: 'error'
                                });
                            }
                        },
                        error: function(){
                            new PNotify({
                                title: 'Error!',
                                text: 'Something went wrong!',
                                type: 'error'
                            });
                        },
                        complete: function(){
                            // Finally callback
                            $('#withdrawalAmount').val('').removeClass('error');
                            $('#ConfirmWithdrawal').removeAttr('disabled');
                            $.magnificPopup.close();
                        }
                    });
                });
                $(document).on('change blur keyup', '#withdrawalAmount', function(){
                    var $this = $(this);
                    var amount = parseFloat($this.val());
                    if(!isNaN(amount) && amount) {
                        if(amount > $this.data('max'))
                        {
                            $this.addClass('error');
                            $('#ConfirmWithdrawal').attr('disabled', 'disabled');
                        }
                        else
                        {
                            $this.removeClass('error');
                            $('#ConfirmWithdrawal').removeAttr('disabled');
                        }
                    }
                    else
                    {
                        $this.addClass('error');
                    }
                });
                $(document).on('click', '#DismissWithdrawal', function(){
                    $('#withdrawalAmount').val('').removeClass('error');
                    $('#ConfirmWithdrawal').removeAttr('disabled');
                });
                //endregion
            });

        }).apply(this, [jQuery]);
    </script>
{% endblock %}