<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Навигация
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">

                    <li class="{{ curroute == 'homepage' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('homepage') }}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Главная страница</span>
                        </a>
                    </li>
                    <li class="nav-parent {{ curroute starts with 'personal_' ? 'nav-expanded nav-active' }}">
                        <a class="nav-link" href="{{ path('personal_index') }}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Личный кабинет</span>
                        </a>
                        <ul class="nav nav-children">
                            <li class="{{ curroute == 'personal_winnings' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('personal_winnings') }}">
                                    <i class="fas fa-trophy"></i> Мои выигрыши
                                </a>
                            </li>
                            <li class="{{ curroute == 'personal_prizes' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('personal_prizes') }}">
                                    <i class="fas fa-gift"></i> Мои призы
                                </a>
                            </li>
                            <li class="{{ curroute == 'personal_operations' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('personal_operations') }}">
                                    <i class="fas fa-exchange-alt"></i> Операции
                                </a>
                            </li>
                            <li class="{{ curroute == 'personal_withdrawals' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('personal_withdrawals') }}">
                                    <i class="fas fa-hand-holding-usd"></i> Вывод средств
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent {{ curroute starts with 'games' ? 'nav-expanded nav-active' }}">
                        <a class="nav-link" href="{{ path('games') }}">
                            <i class="fas fa-dice" aria-hidden="true"></i>
                            <span>Игры</span>
                        </a>
                        <ul class="nav nav-children">
                            <li class="{{ curroute == 'games_winwheel' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('games_winwheel') }}">
                                    Колесо фортуны
                                </a>
                            </li>
                            <li class="{{ curroute == 'games_roulette' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('games_roulette') }}">
                                    Рулетка
                                </a>
                            </li>
                            <li class="{{ curroute == 'games_slots' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('games_slots') }}">
                                    Игровые автоматы
                                </a>
                            </li>
                            <li class="{{ curroute == 'games_lotto' ? 'nav-active' }}">
                                <a class="nav-link" href="{{ path('games_lotto') }}">
                                    Лото 6 из 36
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') != false %}
                        <li class="nav-parent {{ curroute == 'dashboard' or curroute starts with 'user_' or curroute starts with 'prize_' or curroute starts with 'admin_' ? 'nav-expanded nav-active' }}">
                            <a class="nav-link" href="{{ path('dashboard') }}">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span>Админпанель</span>
                            </a>
                            <ul class="nav nav-children">
                                <li class="{{ curroute starts with 'user_' ? 'nav-active' }}">
                                    <a class="nav-link" href="{{ path('user_index') }}">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Пользователи</span>
                                    </a>
                                </li>
                                <li class="{{ curroute starts with 'prize_' ? 'nav-active' }}">
                                    <a class="nav-link" href="{{ path('prize_index') }}">
                                        <i class="fa fa-gift" aria-hidden="true"></i>
                                        <span>Список призов</span>
                                    </a>
                                </li>
                                <li class="{{ curroute == 'admin_operations' ? 'nav-active' }}">
                                    <a class="nav-link" href="{{ path('admin_operations') }}">
                                        <i class="fas fa-exchange-alt"></i> Операции
                                    </a>
                                </li>
                                <li class="{{ curroute == 'admin_withdrawals' ? 'nav-active' }}">
                                    <a class="nav-link" href="{{ path('admin_withdrawals') }}">
                                        <i class="fas fa-hand-holding-usd"></i> Заявки на вывод средств
                                    </a>
                                </li>
                                <li class="{{ curroute == 'admin_winnings' ? 'nav-active' }}">
                                    <a class="nav-link" href="{{ path('admin_winnings') }}">
                                        <i class="fas fa-trophy"></i> Победители розыгрышей
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                {# TODO: Hardcoded while menu tree is not filled in database
                <ul class="nav nav-main">
                    {% for item in menu %}
                        {% if item.childs is not empty %}
                            <li class="nav-parent">
                                <a class="nav-link" href="{{ item.route }}">
                                    <i class="{{ item.icon }}" aria-hidden="true"></i>
                                    <span>{{ item.title }}</span>
                                </a>
                                <ul class="nav nav-children">
                                    {% for child in item.childs %}
                                        <li>
                                            <a class="nav-link" href="{{ child.route }}">
                                                {{ child.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a class="nav-link" href="{{ item.route }}">
                                    <i class="{{ item.icon }}" aria-hidden="true"></i>
                                    <span>{{ item.title }}</span>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
                #}
            </nav>
        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>


    </div>

</aside>
<!-- end: sidebar -->