{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">Заявки на вывод средств</h2>
                </header>
                <div class="card-body">
                    <table class="table table-bordered table-striped datatable" id="datatable-default">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Тип операции</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for withdrawal in withdrawals %}

                            <tr>
                                <td class="text-right">{{ withdrawal.id }}</td>
                                <td class="text-left">
                                    Вывод средств
                                </td>
                                <td class="text-right">
                                    <span class="
                                        {% if withdrawal.status == 'pending' %}
                                            text-warning
                                        {% elseif withdrawal.status == 'reversed' or withdrawal.status == 'cancelled' %}
                                            text-danger
                                        {% else %}
                                            text-success
                                        {% endif %}
                                    ">
                                    - {{ withdrawal.amount|money(2) }}
                                    </span>
                                </td>
                                </td>
                                <td class="text-center" data-sort="{{ withdrawal.status }}">
                                    {% if withdrawal.status == 'pending' %}
                                        <i class="far fa-clock text-warning" style="cursor: help" data-toggle="tooltip" data-original-title="Pending"></i> Pending
                                    {% elseif withdrawal.status == 'complete' %}
                                        <i class="fas fa-check text-success" style="cursor: help" data-toggle="tooltip" data-original-title="Completed"></i> Completed
                                    {% elseif withdrawal.status == 'reversed' %}
                                        <i class="fas fa-sync-alt text-danger" style="cursor: help" data-toggle="tooltip" data-original-title="Reversed"></i> Reversed
                                    {% elseif withdrawal.status == 'cancelled' %}
                                        <i class="fas fa-times text-danger" style="cursor: help" data-toggle="tooltip" data-original-title="Reversed"></i> Cancelled
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Вывод средств</h2>

        <div class="right-wrapper text-right pr-5">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}" title="Главная страница">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><a href="{{ path('personal_index') }}">Личный кабинет</a></li>
            </ol>
        </div>
    </header>
{% endblock %}

{% block title %}Вывод средств{% endblock %}